@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: rgb(255, 0, 0);
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.construction {
  color: var(--primary-red);
  margin: auto;
  text-align: center;
}

/*** Navbar ***/

nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
}

/*** Menu Links ***/

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.10rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 3rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

nav h1, 
nav h2,
nav h3 {
  color: #fff;
}

/*** Header ***/

.header-wraper {
  position: relative;
  /* background: url(public/header.png) no-repeat; */
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
}

.container-side {
  margin-top: 5rem;
}


/*** Typed text ***/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*** Button Contact Me ***/

.btn-contact-me {
  background-color: var(--primary-orange);
  text-transform: uppercase;
  border-radius: 10px;
  padding: .65rem .65rem .65rem .65rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-contact-me:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/*** Particles ***/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  /* .particles-canvas {
    display: none;
  } */
}

/*** About Me ***/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin-top: 10vh;
  width: 25rem;
  border-radius: 50%;
  padding: .3rem;
  border: .1rem solid var(--primary-orange);
}

.about-me-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 15rem;
  }
}

/*** Skills ***/

.services {
  background: var(--primary-dark-grey);
}

.col-sm-6 h2,
.col-sm-6 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-grey);
  text-align: center;
  margin-bottom: 1rem;
}

.skill-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.skill-img {
  width: 4rem;
  margin-top: 1.7rem;
}

.skills-header {
  color: var(--primary-orange);
  text-align: center;
  margin-bottom: 1.5rem;
}

@media(max-width: 768px) {
  /* .skill-img {
    width: 2rem;
  } */
  .col-sm h1 {
    font-size: 1.5rem;
  }
  .skills-header h3 {
    margin-top: 2rem;
  }
}

@media(max-width: 576px) {
  .skills-header-sm h3 {
    margin-top: 3rem !important;
  }
}

/*** Experience ***/

.experience {
  padding: 0.7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange)
}

.experience-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-dark-grey);
  z-index: 3;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark-grey);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/*** Contact Me ***/

.contacts {
  background: var(--primary-dark-grey);
  padding: 3rem 0;
}
.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
}

.contacts p {
  color: var(--primary-grey);
  font-size: 1.2rem;
}

.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange) !important;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.5rem;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  border: var(--primary-orange) !important;
  border-style: solid !important;
  border-width: 0.15rem !important;
}

.contact-btn:hover {
  background-color: var(--primary-orange) !important;
}


.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background-color: var(--primary-orange);
  display: inline-block;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

input:focus+.line,
textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.5rem;
  }
}

.error-message {
  color: red !important;
  font-size: 1rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}

.success-message {
  color: greenyellow;
}

/*** Footer ***/

.footer {
  background: var(--primary-grey);
  padding: 3rem;
}

/* .footer .row {
  margin-top: 1rem !important;
} */

.footer a {
  text-decoration: none;
  
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}

.social {
  margin: 0 0.5rem;
}

@media(max-width: 578px) {
  .margin-sm {
    margin-top: 1rem;
  }
}

@media(max-width: 990px) {
  .margin-md {
    margin-top: 1rem;
  }
}